{% extends 'base.html' %}

{% block head %}
    <title>Recent post - Jy's Blog</title>
{% endblock head %}

{% block title %}최근 포스트{% endblock title %}

{% block content %}
    <div id="btn-add" class="blog-button">
        <i class="fa fa-pencil-alt mr-2"></i>글쓰기
    </div>

    <div class="row no-gutters">
        {% for post in posts %}
            <div class="col-12">
                <div class="card py-2">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></h3>
                        <p class="card-text">{{ post.text|striptags|truncatechars:200 }}</p>
                        <a href="{% url 'post_detail' pk=post.id %}" class="btn btn-secondary btn-sm">More...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $('#btn-add').click(function () {
           location.href = "{% url 'post_add' %}";
        });
    </script>
{% endblock script %}