{% extends 'base.html' %}

{% block head %}
    <title>{% if '/post/edit/' in request.path %}수정하기{% else %}새 글 쓰기{% endif %} - Jy's Blog</title>
{% endblock head %}

{% block title %}{% if '/post/edit/' in request.path %}수정하기{% else %}새 글 쓰기{% endif %}{% endblock title %}

{% block content %}
    <div class="post-box">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                {{ form.title }}
            </div>
            <div>
                {{ form.text|safe }}
            </div>
            <div class="button-area">
                <button type="submit" class="btn btn-primary">
                    {% if '/post/edit/' in request.path %}수정하기{% else %}게시하기{% endif %}
                </button>
                <button id="btn-cancel" type="button" class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $("#btn-cancel").click(function () {
            location.href = "{% url 'post_list' %}";
        });
    </script>
{% endblock script %}