{% extends 'base.html' %}

{% block head %}
    <title>{{ post.title }} - Jy's Blog</title>
{% endblock head %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <div class="post-info row">
        <div class="col-6 font-weight-bold">
            <i class="fa fa-user mr-2"></i>{{ post.author }} 작성
        </div>
        <div class="col-6 text-right">
            {{ post.created_date }}<i class="fa fa-clock ml-2"></i>
        </div>
    </div>

    <div class="post-box">
        <div class="post-content">{{ post.text|safe|linebreaksbr }}</div>
    </div>

    <div class="post-toolbox text-right">
        {% if request.user == post.author or request.user.is_superuser %}
            <button id="btn-modify" class="blog-button blog-button-round blog-button-sm color-notice">
                <i class="fa fa-pencil-alt mr-2"></i>수정
            </button>
            <button id="btn-delete" class="blog-button blog-button-round blog-button-sm color-danger">
                <i class="fa fa-trash mr-2"></i>삭제
            </button>
        {% endif %}
        <button id="btn-list" class="blog-button blog-button-round blog-button-sm">
            <i class="fa fa-list mr-2"></i>목록
        </button>
    </div>

    <div class="separate-line"></div>

    <div class="comment-area">
        <div class="comment-header">
            <h3><i class="fa fa-comment mr-2"></i>{{ post.comments.count }}개의 댓글</h3>
        </div>
        <div class="comment-input">
            <form method="post">
                <div class="row no-gutters">
                    <div class="col-3 col-lg-2 pr-2">
                        {{ form.author }}
                    </div>
                    <div class="col-7 col-lg-9 pr-2">
                        {{ form.text }}
                    </div>
                    <div class="col-2 col-lg-1">
                        <button class="btn btn-sm btn-secondary w-100 h-100" type="submit">작성하기</button>
                    </div>
                    {% csrf_token %}
                </div>
            </form>
        </div>
        <div class="comment-body">
            {% for comment in post.comments.all %}
                <div class="comment row">
                    <div class="col-3 col-lg-2 comment-author">{{ comment.author }}</div>
                    <div class="col-9 col-lg-10 comment-text">{{ comment.text }}</div>
                    <div class="offset-3 offset-lg-2 col-5 col-lg-6 comment-date">{{ comment.created_date }}</div>
                    <div class="col-4 col-lg-4 text-right">
                        {% if request.user.username == comment.author or request.user.is_superuser %}
                            <span class="comment-delete mr-2" data-id="{{ comment.id }}">
                                <i class="fa fa-times-circle"></i>
                                <span>삭제</span>
                            </span>
                        {% endif %}
                        <span class="comment-like {% if request.user in comment.like.all %}active{% endif %}" data-id="{{ comment.id }}">
                            <i class="fa fa-thumbs-up"></i>
                            <span class="like-count">{{ comment.like.count }}</span>
                        </span>
                    </div>
                </div>
            {% empty %}
                <div class="comment">
                    <h6>이 포스트에 아직 댓글이 존재하지 않습니다.</h6>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        document.getElementById('btn-list').onclick = () => movePage('{% url 'post_list' %}');

        const modifyButton = document.getElementById('btn-modify');
        const deleteButton = document.getElementById('btn-delete');
        const author = document.getElementById('id_author');
        const commentLike = document.querySelectorAll('.comment-like');
        const commentDelete = document.querySelectorAll('.comment-delete');
        const xhr = new XMLHttpRequest();

        if (modifyButton != null)
            modifyButton.onclick = () => movePage('{% url 'post_edit' pk=post.id %}');
        if (deleteButton != null)
            deleteButton.onclick = () => movePage('{% url 'post_delete' pk=post.id %}');

        if (author.value.length !== 0)
            author.setAttribute('readonly', 'true');

        /* comment like request */
        if (commentLike != null) {
            Array.from(commentLike).forEach(el => {
                el.onclick = () => {
                    // process received request
                    xhr.onload = () => {
                        if (xhr.status === 200 || xhr.status === 201) {
                            const result = stringToJson(xhr.responseText);
                            el.querySelector('.like-count').innerHTML = result.likes;

                            switch (result.success) {
                                case 'authRequired':
                                    alert('로그인 후 이용해주세요.');
                                    break;
                                case 'added':
                                    el.classList.add('active');
                                    break;
                                case 'removed':
                                    el.classList.remove('active');
                                    break;
                                default:
                                    break;
                            }
                        }
                    };
                    // send request
                    xhr.open('POST', '{% url 'comment_like' %}');
                    xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                    addCsrfToken(xhr);
                    xhr.send(JSON.stringify({
                        'pk': el.getAttribute('data-id'),
                    }));
                };
            });
        }

        /* comment delete request */
        if (commentDelete != null) {
            Array.from(commentDelete).forEach(el => {
                el.onclick = () => {
                    // process received request
                    xhr.onload = () => {
                        if (xhr.status === 200 || xhr.status === 201) {
                            stringToJson(xhr.responseText).success === 'removed' ?
                                el.parentNode.parentNode.remove() : alert('문제가 발생하였습니다.');
                        }
                    };
                    // send request
                    xhr.open('POST', '{% url 'comment_delete' %}');
                    xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                    addCsrfToken(xhr);
                    xhr.send(JSON.stringify({
                        'pk': el.getAttribute('data-id'),
                    }));
                };
            });
        }
    </script>
{% endblock script %}