{% extends 'base.html' %}

{% block head %}
    <title>로그아웃 - Jy's Blog</title>
{% endblock head %}

{% block title %}로그아웃{% endblock title %}

{% block content %}
    <div class="container text-center">
        <div class="alert alert-success" role="alert">로그아웃이 완료되었습니다.</div>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        로그아웃에 문제가 발생했습니다.
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 my-4">
            <button id="btn-login" type="button" class="blog-button w-100">다른 계정으로 <strong>로그인</strong></button>
            <button id="btn-home" type="button" class="blog-button color-primary w-100">홈 화면으로 돌아가기</button>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $('#btn-home').click(function () {
           location.href = '{% url 'main' %}';
        });
        $('#btn-login').click(function () {
           location.href = '{% url 'login' %}';
        });
    </script>
{% endblock script %}