/* Common stylesheet */

.container > div {
    margin: 20px 0;
}

.card {
    border: none !important;
}

.card .card-body {
    border: 1px solid #cccccc;
}

.post-box {
    padding: 5px 15px;
}

.post-content {
    font-size: 1.25em;
    line-height: 1.6em;
}