/* Common stylesheet */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.container > div {
    margin: 20px 0;
}

.blog-title {
    background: #5a6268;
    color: #efefef;
    padding: 90px 20px;
    font-weight: 100;
}

.card {
    border: none !important;
}

.card .card-body {
    border: 1px solid #cccccc;
    background: #f7f7f7;
    box-shadow: 2px 2px 10px #e0e0e0;
    color: #062c33;
}

.card .card-body h3 a,
.card .card-body h3 a:hover,
.card .card-body h3 a:link,
.card .card-body h3 a:visited {
    color: #062c33;
    text-decoration: none;
}

.blog-button {
    cursor: pointer;
    color: #6f6f6f;
    padding: 15px 5px;
    text-align: center;
    background: #f5f5f5;
    box-shadow: 2px 2px 4px #dedede;
    border: 1px solid #eaeaea;
}

.post-box {
    padding: 5px 15px;
}

.post-content {
    word-wrap: break-word;
}

.footer {
    background: #e8e8e8;
    color: #868686;
    text-align: center;
    font-weight: 400;
    font-size: 0.9em;
    width: 100%;
    left: 0;
    right: 0;
    padding: 80px 30px;
    margin-top: 90px;
}