{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no"/>
    <meta name="canonical" content=""/>
    <meta name="author" content="lee"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.css">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <noscript>JavaScript가 차단됨</noscript>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'main' %}">Joo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'main' %}"><i class="fa fa-home pr-1"></i>홈</a>
                </li>
                <li class="nav-item {% if '/post' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'post_list' %}"><i class="fa fa-list-alt pr-1"></i>포스트</a>
                </li>
                <li class="nav-item {% if request.path == '/about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-question-circle pr-1"></i>소개</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-alt mr-2"></i>
                        {% if request.user.is_authenticated %}{{ request.user }} 님{% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="#">내 정보</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">로그인</a>
                            <a class="dropdown-item" href="{% url 'register' %}">회원가입</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container content-wrapper">
        <h1 class="blog-title text-center">
            {% block title %}
            {% endblock title %}
        </h1>
        {% block content %}
        {% endblock content %}
    </div>
    <div class="footer">
        Copyright 2019 @ Lee All right reserved
    </div>
</body>
{% block script %}
{% endblock script %}
</html>